body {
    background-image: none;
    font-size: 24px;
    line-height: 45px;
}

.category-title {
    font-size: 50px;
}

.feed-head {
    font-size: 34px;
}

.feed-block {
    margin-left: 5px;
    margin-right: 5px;

    width: 100%;
}

.category-title {
    max-width: 600%;
    width: 100%;
    padding-right: 10px;
}