/*------------------------------
= CUSTOM FONTS
------------------------------*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);
body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
    font-size: 14pt;
    line-height: 200%;
    color: rgb(40, 40, 40); /* text color */
    
    background-color: #191919; /*black;*/
    background-image: url('https://source.unsplash.com/random/1920x1080?scenic');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    -webkit-text-size-adjust: none;
    text-size-adjust: none; 
}

a {
    text-decoration: none;
    color: rgb(40, 40, 40); /*rgb(240, 240, 240);*/

    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/*------------------------------
=HEADER
------------------------------*/

.title {
    background: url('fabtab.svg');
    background-size: contain; /*360px 76px;*/
    background-repeat: no-repeat;
    width: 360px;
    max-width: 90%;
    height: 76px;
    float: right;
    display: inline-block; /* allow displaying inline with other elements */
    
    margin: 10px;
}

header {
    display: block;
    height: 52px;
    margin-bottom: 50px;
    background: #191919;
    border-bottom: 2px solid rgb(239, 128, 29);
}
/*------------------------------
=FOOTER
------------------------------*/

footer {
    display: block;
    padding: 18px;
    background: #191919;
    border-top: 2px solid rgb(239, 128, 29);
}

footer a {
    text-decoration: none;
    color: rgb(240, 240, 240);
}

.author {
    float: right;
    display: inline-block; /* allow displaying inline with other elements */
    color: rgb(239, 128, 29); /* orange */  
    margin: 10px;
}

/*------------------------------
=CONTENET
------------------------------*/
/* reponsive clumps */

.page-wrapper {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.page-content {
    width: 1280px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*------------------------------
=NAVIGATION
------------------------------*/

#cssmenu {
    display: inline-block; /* allow displaying inline with other elements */
    margin-top: 6px;
}
#cssmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1;
    display: block;
    zoom: 1;
}
#cssmenu ul:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
}
#cssmenu ul li {
    display: inline-block;
    padding: 0;
    margin: 0;
}
#cssmenu.align-right ul li {
    float: right;
}
#cssmenu.align-center ul {
    text-align: center;
}
#cssmenu ul li a {
    color: #aaaaaa;
    text-decoration: none;
    display: block;
    padding: 15px 25px;

    font-weight: 600;
    text-transform: uppercase;

    position: relative;
    -webkit-transition: color .25s;
    -moz-transition: color .25s;
    -ms-transition: color .25s;
    -o-transition: color .25s;
    transition: color .25s;
}
#cssmenu ul li a:hover {
    color: #ffffff;
}
#cssmenu ul li a:hover:before {
    width: 100%;
}
#cssmenu ul li a:after {
    content: "";
    display: block;
    position: absolute;
    right: -3px;
    top: 19px;
    height: 6px;
    width: 6px;
    background: #ffffff;
    opacity: .5;
    border-radius: 10px;
}
#cssmenu ul li a:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 8px;
    width: 0;
    background: #666666; /* grey */
    
    -webkit-transition: width .25s;
    -moz-transition: width .25s;
    -ms-transition: width .25s;
    -o-transition: width .25s;
    transition: width .25s;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
    display: none;
}
#cssmenu ul li.active a {
    color: #aaaaaa;
}
#cssmenu ul li.active a:before {
    width: 100%;
    background: rgb(239, 128, 29); /* orange */
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
    display: block;
}
#cssmenu.align-right li:first-child a:after {
    display: none;
}

/*------------------------------
=CATEGORY
------------------------------*/

.category-title {
    text-align: right;
    padding-top: 30px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 250%;
    font-weight: 600;
    color: rgb(40, 40, 40);
    text-shadow: 0px 0px 10px white;
    letter-spacing: 0.5px;

    width: 1240px;
    max-width: 100%;
}


/*------------------------------
=Feed container
------------------------------*/
.feed-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
}

/*------------------------------
=Feedblock
------------------------------*/

.feed-block {
    display: flex;
    flex-direction: column;
    width: 600px;
    max-width: 100%;
    margin: 20px;
    padding: 5px;
    box-sizing: border-box; /* include padding margins etc in box size */

    background: rgba(100, 100, 100, 0.4);   
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.4);
    border-width: 1px 1px 1px 1px;
    border-style: solid;
}

.feed-block-0,
.feed-block-4 {
    background: rgba(206, 53, 44, 0.8); /* red */
}
.feed-block-6,
.feed-block-2,
.feed-block-8 {
	background: rgba(51, 153, 102, 0.8);/* green */
}
.feed-block-5,
.feed-block-3 {
    background: rgba(102, 153, 255, 0.8); /* blue */
}
.feed-block-1,
.feed-block-7 {
    background: rgba(153, 102, 255, 0.8); /* purple */
}
.feed-body {
    border-radius: 5px;
    background-color: #f1f1f1;
    margin: 5px;
    padding: 5px;
    border-color: rgba(0, 0, 0, 0.2);
    border-width: 1px 1px 1px 1px;
    border-style: solid;
}
.feed-body ul {
	background-color: #f1f1f1;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.unread {
    border-color: rgb(239, 128, 29); /* orange */
}
.read {
	border-color: rgb(65, 168, 247) /* blue */

}
.feed-head {
    font-size: 120%;
    font-weight: 600;
    color: rgb(40, 40, 40);
    text-shadow: 0px 0px 10px white;
    letter-spacing: 0.5px;
    text-align: left;
    padding: 2px 4px 4px 4px;
    margin: 5px 5px 10px 5px;
    border-radius: 5px;   
    display: block; /* make the link fill the entire space */ 
}
.feed-icon {
    padding: 2px 5px 2px 2px;
	background-size: 30px 30px;
    width: 30px;
    height: 30px;
    margin: auto;
    vertical-align: middle;
}
.feed-head:hover {
    background: rgba(0, 0, 0, 0.1);
}
.feed-item {
    text-align: left;
    padding: 4px 6px 4px 6px;
    margin: 0px 2px 0px 2px;
    border-radius: 0px;
	border-width: 0px 0px 0px 0px;
    border-style: solid;
    display: block; /* make the link fill the entire space */
}

.feed-item:hover {
    background: rgba(0, 0, 0, 0.1);
}

li {
    border-top: 2px solid #cacaca;
}

li:first-child {
    border-top: none;
}

/*------------------------------
=TOOLTIP
------------------------------*/

#powerTip {
    width: 400px;
    white-space: normal;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
    border-width: 4px 4px 4px 4px;
    border-style: solid;
	border-color: rgba(0, 0, 0, 0.2);
    background-color: #f1f1f1;
    color:rgb(40, 40, 40); /* font */
}
.tooltip-title {
	color:rgb(40, 40, 40); /* font */
    font-weight: bold;
    font-size: 18pt;
    margin: 0px 0px 10px 0px;
}
.tooltip-description {
    font-size: 16pt;
    letter-spacing: 0.5px;
    line-height: 150%;
    
	/* limit text length in css */
	text-overflow: ellipsis;
	/*white-space: nowrap;*/
	overflow: hidden;
	height: 70px;
	/*font-weight: bold;*/
}

/*------------------------------
=LOADING
------------------------------*/
.loading-container {
    height: 300px;
    padding: 10px;
}
.loading {
    animation-duration: 3s;
   animation-fill-mode: forwards;
   animation-iteration-count: infinite;
   animation-name: wave;
   animation-timing-function: linear;
    -webkit-animation-duration: 3s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: wave;
    -webkit-animation-timing-function: linear;
     -moz-animation-duration: 3s;
    -moz-animation-fill-mode: forwards;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: wave;
    -moz-animation-timing-function: linear;
    background: #dddddd;
    background-image: -webkit-gradient(linear,  left center,  right center,  from(#dddddd),  color-stop(.2,  #f5f5f5),  color-stop(.4,  #e5e5e5),  to(#dddddd));
    background-image: -webkit-linear-gradient(left,  #dddddd 0%,  #f5f5f5 20%,  #e5e5e5 40%,  #dddddd 100%);
    background-image: -moz-gradient(linear,  left center,  right center,  from(#dddddd),  color-stop(.2,  #f5f5f5),  color-stop(.4,  #e5e5e5),  to(#dddddd));
    background-image: -moz-linear-gradient(left,  #dddddd 0%,  #f5f5f5 20%, #e5e5e5 40%, #dddddd 100%);
    background-repeat: no-repeat;
    background-size: 120% 100%;
    position: relative;
}
.reverse-direction .loading {
    -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
}
.loading div {
    background-color: #f1f1f1;
    width: 100%;
    height: 5px;
}
div.shape1 {
    margin-top: 0px;
    height: 20px;
    background-color: transparent;
}
div.shape2 {
    margin-top: 20px;
}
div.shape3 {
    margin-top: 50px;
}
div.shape4 {
    margin-top: 30px;
}

@-webkit-keyframes wave {
    0% {
    background-position: -468px 0;
    }
    100% {
    background-position: 468px 0;
    }
}
@-moz-keyframes wave {
        0% {
    background-position: -468px 0;
    }
    100% {
    background-position: 468px 0;
    }
}

/*------------------------------
=MOBILE
------------------------------*/

@media only screen and (max-width: 600px) {
    {% include 'mobile.css' %}
}

@media only screen and (max-width: 1295px) {
    .category-title {
        max-width: 600px;
        width: 100%;
        padding-right: 5px;
    }
}
