<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ title }}</title>
		<script type="text/javascript" src="resources/scripts.js"></script>
		<link rel="icon" type="image/svg+xml" href="resources/favicon.svg" />
		<link href="resources/style.css?uuid={{ uuid }}" rel="stylesheet" type="text/css"/>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet" type="text/css"/>

		<script type="text/javascript">
			if (window.mobilecheck()) {
				document.write('<link rel="stylesheet" type="text/css" href="resources/mobile.css?uuid={{ uuid }}" />');
			}
		</script>
	</head>
		
	<body>
		<div class="bg-lazy"></div>

		<script>
			load_bg();
		</script>

		<div class="page">

			<header>
				<div class="title">
				</div>
			</header>

			<content>
				<div class="page-wrapper">
					<div class="page-content">

