{% set active = "news" %}
{% set title = "fabtab" %}
{% include '_header.html' %}

<div class="category-title">News</div>
<div class="feed-container">
{% for feed in categories['news'] %}
    {% set feed_index = loop.index %}
    {% include '_feed.html' %}
{% endfor %}
</div>

<div class="category-title">Tech</div>
<div class="feed-container">
{% for feed in categories['technology'] %}
    {% set feed_index = loop.index %}
    {% include '_feed.html' %}
{% endfor %}
</div>

<div class="category-title">Games</div>
<div class="feed-container">
{% for feed in categories['games'] %}
    {% set feed_index = loop.index %}
    {% include '_feed.html' %}
{% endfor %}
</div>

{% include '_footer.html' %}
